/* Общие стили для шапки */
.header {
    background-color: #FFA500; /* примерный цвет фона, настройте в соответствии с вашим дизайном */
}

.header-top,  
.header-bottom {
    padding: 10px; /* Регулируйте отступы в соответствии с вашим дизайном */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для навигации */
.navigation {
    /* Добавьте стили если необходимо */
}

.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Регулируйте расстояние между элементами */
}

.navigation-item {
    /* Добавьте стили если необходимо */
}

.navigation-link {
    text-decoration: none;
    color: white; /* Цвет текста ссылок, настройте под ваш дизайн */
    font-size: 16px; /* Регулируйте размер шрифта */
}

/* Стили для контактной информации */
.header-contact {
    /* Добавьте стили если необходимо */
}

.contact-number {
    color: white; /* Цвет текста номера, настройте под ваш дизайн */
    font-size: 16px; /* Регулируйте размер шрифта */
}

/* Стили для логотипа */
.header-logo {
    /* Добавьте стили если необходимо */
}

.logo-link {
    display: block;
}

.logo-link img {
    display: block; /* Убедитесь, что логотип не имеет отступов */
    width: auto; /* Регулируйте размер логотипа в соответствии с вашим дизайном */
    height: 50px; /* Регулируйте размер логотипа в соответствии с вашим дизайном */
}
